version: '3.7'

services:
  db:
    image: mysql
    environment:
      MYSQL_DATABASE: "${MYSQL_GAZER_DATABASE:-gazer}"
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD}"
      MYSQL_ROOT_HOST: '%'
      MYSQL_GAZER_PASSWORD: "${MYSQL_GAZER_PASSWORD}"
    ports:
      - 3306:3306
    volumes:
      - ./data/scripts:/docker-entrypoint-initdb.d
    healthcheck:
      test: "/usr/bin/mysql --user=root --password=${MYSQL_ROOT_PASSWORD} --execute \"SHOW DATABASES;\""
      interval: 2s
      timeout: 20s
      retries: 10

  gazer:
    build:
      context: .
      dockerfile: ./app/Dockerfile
      args:
        wfi_args: "db:3306 -t 20"
    expose:
      - 8080
    ports:
      - 8080:8080
    environment:
      MYSQL_GAZER_DATABASE: "${MYSQL_GAZER_DATABASE:-gazer}"
      MYSQL_GAZER_PASSWORD: "${MYSQL_GAZER_PASSWORD}"
    depends_on:
      - db